* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit',  sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

img {
    width: 100%;
    border-radius: 12px;
}

h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

p {
    color: hsl(220, 15%, 55%);
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

.qr-code {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin: 0 1rem;
}

.text {
    padding: 20px 10px;
}